.signup-page {
    text-align: center;
    margin-top: 60px;;
}

.signup-page input {
    width: 487px;
    height: 63px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    margin: 17px;
    font-size: 30px;
    color: #2B3856;
    padding: 7px;
}

.SignUpPage form button {
    background-color: #0c6baf;
}
.SignUpPage form button:hover {
    background-color: #245880;
}

.pass-validation{
    display: flex;
    justify-content: left;
    gap:10px;
    
}

.signup-page img{
    max-height: 250px;
}

.signup-validation {
    width: 487px;
    text-align: left;
}

.input-container-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member{
    font-size: 25px;;
}