.parent-header{
    text-align: center;
}

.parent-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parent-header p {
    font-size: 34px;
    margin: 55px;
}
.child-box > *{
    background:transparent;

}
.parent-img{
    /* position: absolute; */
    width: 28vmin;
    height: 28vmin;
    left: 50%;
    margin-top: 10vh;
    border: 10px solid #2B3856;
    box-sizing: border-box;
    border-radius: 100px;
}

.child-box {
    width: 674px;
    height: 304px;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child-box p {
    background-color: white;
    color: #2B3856;
    font-size: 34px;
}