.topicSelector {
    background-color: aliceblue;
    width: 300px;
    height: 350px;
    left: 543px;
    top: 509px;
    border-radius: 40px;
    margin: 20px;
    line-height: 200px;
}
.topicSelector p {
height: 57px;
left: 131px;
top: 646px;
bottom: 0;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 150px;
text-align: center;
background: rgba(204, 204, 204, 0);

color: #000000;
}
img {
    justify-content: center;
    vertical-align: middle;
    border-radius: 50%;
}