.topicSelector {
    background-color: aliceblue;
    width: 300px;
    height: 325px;
    left: 543px;
    top: 509px;
    border-radius: 40px;
    margin: 20px;
    text-align: center;
    padding-top: 50px;
}
.topicSelector p {
height: 57px;
left: 131px;
top: 646px;
bottom: 0;
margin: 10px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 3vh;
text-align: center;
background: rgba(204, 204, 204, 0);

color: #000000;
}

.topicSelector img {
    justify-content: center;
    vertical-align: middle;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}