.lesson-big-button{
    width: 329px;
    height: 128px;
    background: #FFFFFF;
    border-radius: 20px;
    color: #5BC0E5;
}

.lesson-story {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 80%;
    margin: 5% auto;
    border-radius: 5%;
    
}

.lesson-story p {
    color: black;
    background: rgba(204, 204, 204, 0);
    font-size: 4vmin;
    height: 31vh;
    overflow-y: scroll;
}

.story-page {
    text-align: center;
}

.lesson-story img {
    max-width: 65%;
}