/* //78vh row 70vw col */
.answer-container{
  grid-area: answer-container;
}

.question-container{
  grid-area:question-container;
}

.qna-display{
  background:white;
  display:grid;
  grid-template-columns:1vw 5vw 58vw 5vw 1vw;
  grid-template-rows: 15vh 3vh 45vh; 
  overflow-y: scroll;

  grid-template-areas:
  ". question-container question-container question-container ."
  ". . . . ."
  ". . answer-container . ."

}