* {
    background-color: #5BC0E5;
    font-family: 'Nunito', sans-serif;
    color: white;
    
}
.topic-page h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    width: 559px;
}

.TopicList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    justify-content: center;
    margin-bottom: 10vh;
}

.topic-page {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
}