.child-side-nav {
    background-color: #2B3856;
    z-index: 10;
    width: 565px;
    height: 1194px;
    position: absolute;
    left: -565px;
    transition: .8s;
    top:0;
    text-align: left;
}

.child-side-nav.active{
    left:0;
}

.logout{
    position: absolute;
    bottom: 60px;
    left: 50px;
    background-color: #2B3856;
    font-size: 34px;
}

.child-side-nav img {
    background-color: #2B3856;
}

.child-side-nav-top{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    flex-direction: row;
    background-color: #2B3856;
    padding: 50px;
    font-size: 34px;
}

/* .border-bottom{
    position: absolute;
    left: 60px;
    width:450px;
    border-bottom: 2px solid white;
} */

.child-side-nav-middle{
    background-color: #2B3856;
    font-size: 34px;
}

.child-side-nav-top img{
    background-color: #2B3856;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.chevron{
    position: absolute;
    right: 10px;
    top: 50%;
}

.icons-child-nav{
    width: none;
    height: none;
}

.child-side-nav-top div{
    background: none;
}