.lesson-button {
    width: 252px;
    height: 81px;
    background: white;
    border-radius: 20px;
    color: #5BC0E5;
    font-size: 48px;
    border: none;
}

.lesson-start {
    text-align: center;
    
}

#piggy-with-coins-transparent {
    max-width: 60%;
    padding: 15px;
}