.answer-container{
  display:flex;
  height:100%;
  flex-direction: column;
  justify-content: space-around;
  background:white;
}
.answer-label, .answer-radio, .answer-option{
  color:#2B3856;
  background:white;
}
.answer-label{
  margin-left: 1vw;
  font-size: 3vmin;
}
.answer-radio{
  transform:scale(1.8);
}
.answer-button{
  width: 50vw;
  height: 8vh;
  background-color: #FFFFFF;
  border-radius: 100px;
  color: #5BC0E5;
  font-size: 1em;
  align-self:center
}

.explain-pop{
  float:right;
  visibility:hidden;
}

.hide{
  visibility:hidden;
}
.popover-body,.popover-header{
  background: white;
  color:#2B3856;
  width:40vw;
  padding:3px;
}
.popover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}