.lesson-button {
    width: 252px;
    height: 72px;
    background: white;
    border-radius: 20px;
    color: #5BC0E5;
    font-size: 48px;
    border: none;
}

.lesson-start {
    text-align: center;
    
}

.lesson-topic-image{
    height:100px;

}

#piggy-coins {
    max-width: 60%;
    /* padding: 15px; */
}