.home {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-title {
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}


.white-text{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}


.home-button{
    width: 485px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 100px;
    color: #5BC0E5;
    font-size: 30px;

}