/* .child-header img {
    width: 100px;
    height: 100px;
    z-index: 5;
} */

.child-header-avatar {
    position: absolute;
    left: 80px;
    top: 60px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    z-index: 5;
}

.child-header-fire {
    position: absolute;
    right: 90px;
    top: 60px;
    width: 100px;
    height: 100px;
    z-index: 5;
}

.child-header {
    margin-bottom: 170px;;
}

.streak-number
{
    position: absolute;
    right: 11.2vh;
    top: 9vh;
    color: black;
    background-color: transparent;
    font-size: 4vmin;
    z-index: 6;
    font-weight: 700;

}
.streak-header-item{
  position:relative;
  text-align: center;
  color:blue
}